<div id="responsive-admin-menu">
	<div id="responsive-menu">
		<div class="menuicon">≡</div>
	</div>
	
	<div id="logo"><img style="width: 60%;border-radius: 50%;margin-left: 15%;margin-top: 5%;" src="{{asset('imagenes/logoredsocial.png')}}"></div>

	<!--Menu-->
	<div style="margin-top: 45%;" id="menu">
            <a style="display: flex;" href="{{path('admin')}}" title="News"><img style="width: 15%;margin-right: 3%;" src="{{asset('imagenes/casa.png')}}" class="icon-bullhorn"/><span style="margin-top: 2%;"> Página principal</span></a>
            <a style="display: flex;" href="{{path('banea')}}" title="News"><img style="width: 15%;margin-right: 3%;" src="{{asset('imagenes/prohibido.png')}}" class="icon-bullhorn"/><span style="margin-top: 2%;"> Banear usuarios</span></a>
            <a style="display: flex;" href="{{path('desbanea')}}" title="News"><img style="width: 15%;margin-right: 3%;" src="{{asset('imagenes/comprobado.png')}}" class="icon-bullhorn"/><span style="margin-top: 2%;"> Desbanear usuarios</span></a>
            <a style="display: flex;" href="{{path('borra')}}" title="News"><img style="width: 15%;margin-right: 3%;" src="{{asset('imagenes/borrar.png')}}" class="icon-bullhorn"/><span style="margin-top: 2%;"> Borrar Usuarios</span></a>
            <a style="display: flex;" href="{{path('modifica')}}" title="News"><img style="width: 15%;margin-right: 3%;" src="{{asset('imagenes/editar.png')}}" class="icon-bullhorn"/><span style="margin-top: 2%;"> Modificar Usuarios</span></a>
            <a style="display: flex;" href="{{path('crea')}}" title="News"><img style="width: 15%;margin-right: 3%;" src="{{asset('imagenes/mas.png')}}" class="icon-bullhorn"/><span style="margin-top: 2%;"> Crear Usuarios</span></a>
			<a style="margin-left: 3%;"href="/logout"><img style="width:15%; margin-bottom:2%; margin-right: 3%;" src="{{asset('imagenes/logout.png')}}">Cerrar sesión</a>
	</div>


</div>

